<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SimpleGOD</display-name>
  <servlet>
    <description>演示读取配置文件</description>
    <servlet-name>GetPropertiesServlet</servlet-name>
    <servlet-class>top.trial.servlet.GetPropertiesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>演示GenericServlet使用</description>
    <servlet-name>GenericServletImpl</servlet-name>
    <servlet-class>top.trial.servlet.GenericServletImpl</servlet-class>
  </servlet>
  <servlet>
    <description>演示中文输出</description>
    <servlet-name>SysoChineseServletDemo</servlet-name>
    <servlet-class>top.trial.encode.SysoChineseServletDemo</servlet-class>
  </servlet>
  <servlet>
    <description>CAPTCHA演示</description>
    <servlet-name>CAPTCHAServlet</servlet-name>
    <servlet-class>top.trial.servlet.CAPTCHAServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>introduction</servlet-name>
    <jsp-file>/JSP/trial/introduction.jsp</jsp-file>
  </servlet>
  <jsp-config>
    <taglib>
      <taglib-uri>http://www.simpleGOD.com/selfSimpleTag</taglib-uri>
      <taglib-location>/WEB-INF/tld/selfSimlpeTag.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://www.simpleGOD.com/selfTag</taglib-uri>
      <taglib-location>/WEB-INF/tld/selfTag.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://www.simpleGOD.com/md5</taglib-uri>
      <taglib-location>/WEB-INF/tld/MD5Util.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/functions</taglib-uri>
      <taglib-location>/WEB-INF/tld/fn.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/sql</taglib-uri>
      <taglib-location>/WEB-INF/tld/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/xml</taglib-uri>
      <taglib-location>/WEB-INF/tld/x.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet-mapping>
    <servlet-name>introduction</servlet-name>
    <url-pattern>/introduction.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CAPTCHAServlet</servlet-name>
    <url-pattern>/servlet/CAPTCHAServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SysoChineseServletDemo</servlet-name>
    <url-pattern>/servlet/SysoChineseServletDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenericServletImpl</servlet-name>
    <url-pattern>/servlet/GenericServletImpl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetPropertiesServlet</servlet-name>
    <url-pattern>/servlet/GetPropertiesServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>top.trial.servlet.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/JSP/autoLogin/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ChineseEncodingFilter</filter-name>
    <filter-class>top.trial.servlet.filter.ChineseEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ChineseEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- struts2核心过滤器配置 开始 -->
  <filter>
  	<filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- struts2核心过滤器配置 结束 -->
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/JSP/errorPage/globalErrorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/html/trial/404ErrorPage.html</location>
  </error-page>
</web-app>